<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Extraction</title>
    <link rel="stylesheet" href="./home.css">
</head>
<body>
    <h1>Water Body Extraction</h1>
    <div class="submit-section">
        <form action="/signup" method="get">
            <button class="sub-but" type="submit">New User</button>
        </form>
        <form action="/login" method="get">
            <button class="sub-but" type="submit">Existing User</button>
        </form>
    </div>
</body>
</html>