body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f7ff; /* Light Blue */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333; /* Dark Grey */
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.upload-section {
    width: 400px;
    background-color: #fff; /* White */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#upload-icon {
    font-size: 60px;
    margin-bottom: 20px;
    color: #0077cc; /* Watery Blue */
}

#image-preview {
    margin-bottom: 20px;
}

#image-preview img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upload-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancel-button,
.submit-button {
    padding: 15px 30px;
    background-color: #0077cc; /* Watery Blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-button:hover,
.submit-button:hover {
    background-color: #005c99; /* Darker Watery Blue */
}

.file-upload input[type=file] {
    display: none;
}

.file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 15px 30px;
    background-color: #0077cc; /* Watery Blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-upload:hover {
    background-color: #005c99; /* Darker Watery Blue */
}

.file-upload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#image-input{
    display: none;
}